################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wpf.ProgressNotifier.Sample/bin/Debug
/Wpf.ProgressNotifier.Sample/obj/Debug
